apiclient==1.0.3
atomicwrites==1.1.5
attrs==18.1.0
cachetools==2.1.0
elementium==1.1.10
google-api-python-client==1.7.3
google-auth==1.5.0
google-auth-httplib2==0.0.3
httplib2==0.11.3
more-itertools==4.2.0
oauth2client==4.1.2
pluggy==0.6.0
py==1.5.4
pyasn1==0.4.3
pyasn1-modules==0.2.2
PyDrive==1.3.1
pytest==3.6.2
PyYAML==3.12
rsa==3.4.2
selenium==2.48.0
six==1.11.0
uritemplate==3.0.0
urllib3==1.24.2
